.editMain{
    text-align: center;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;
    opacity: .9;
}
.editForm{
    background-color: #ebdfc7;
    border: solid black;
    border-radius:10px;
    padding: 5px;
}
.editForm input{
    font-weight: bold;
}
.close{
    float: right;
    width: 15%;
}