#navbar {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.random{
    font-family: 'Libre Baskerville', serif;
}

.random{
    background-color: transparent;
    
}
Button{
    width: 200px;
}