.sidebar {
    display: flex;
    background-color: transparent;
    margin-top: 5rem;
    font-family: 'Libre Baskerville', serif;
    font-size: 25px;
    color: black;
    text-align: left;
   
    
}

ul {
    list-style-type: none;
    font-weight: bold; 
      
}

.sidebar-list-styling {
    background-color: transparent;
    margin-top: 15rem;
    margin-left: 10rem;
   
}

.sidebar-list-a {
    padding: 0;
    text-decoration: none;
}

.sidebar-route {
    flex: 1;
    padding: 0px;
}

a:link {
    text-decoration: none;
    color: black;
  }
  
  a:visited {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }

h1 {
  font-weight: bold;
}


hr {
  border: 2px solid black;
}

h3 {
  text-decoration: underline;
}

.navFont {
  text-decoration: underline;
  font-family: 'Enchanted Land';
  font-size: 50px;
}